.button  {
    width: 146px;
    height: 65px;
    border-radius: 4px;
    background-color: "#1c3351";
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: "#fff";
}